<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Currency Converter App</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <section>
      <article>
        <h1>Currency Converter</h1>
      </article>
      <form method="post">
        <div>
          <label for="from_currency">Convert from:</label>
          <input
            type="text"
            id="from_currency"
            name="from_currency"
            placeholder="Enter currency to be converted from:"
            required
          />
        </div>
        <div>
          <label for="to_currency">Convert to:</label>
          <input
            type="text"
            id="to_currency"
            name="to_currency"
            placeholder="Enter currency to be converted to:"
            required
          />
        </div>
        <div>
          <label for="amount">Amount:</label>
          <input
            type="text"
            id="amount"
            name="amount"
            placeholder="Enter the amount to be converted:"
            required
          />
        </div>
        <button type="submit">Convert</button>
      </form>
      {% if errors %}
        <ul>
          {% for error in errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %} {% if result is not none %}
      <div>
        <p>Converted amount: {{ result }}</p>
      </div>
      {% endif %}
    </section>
  </body>
</html>
